<a href="https://colab.research.google.com/github/soujanno3dot0/DL_Notebooks/blob/master/OBVolumetrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import libraries**

In [0]:
import pandas as pd
import matplotlib as plt
import plotly.express as px

**Load Data**

In [12]:
excel_file = '/content/drive/My Drive/Colab Notebooks/DataVisualization/API_Analysis/OBAnalytics/OBData02.csv'
raw_df = pd.read_csv(excel_file)
raw_df.head()

#Copy data frame to retain raw load
df = raw_df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (1,2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.

**Summary on Data**

In [94]:
print(raw_df.count(axis=0))
print(df.count(axis=0))
df.head()

ID                 9941
Name               9941
Service Name       9941
Direction          9941
Execution Time     9941
Status             9941
CreatedDateTime    9941
Day                9941
Month              9941
dtype: int64
ID                 9941
Name               9941
Service Name       9941
Direction          9941
Execution Time     9941
Status             9941
CreatedDateTime    9941
Day                9941
Month              9941
dtype: int64

         ID                                         Name  ...   Day Month
0  397735.0  Stealth DTO Outbound Service - 902 - Create  ...  30.0   4.0
1  397734.0               Coupa - triWorkTask - Outbound  ...  30.0   4.0
2  397733.0                         SMC Outbound Service  ...  30.0   4.0
3  397732.0                SMC WorkTask Outbound Service  ...  30.0   4.0
4  397731.0               Coupa - triWorkTask - Outbound  ...  30.0   4.0

[5 rows x 9 columns]

In [125]:
df["CreatedDateTime"]= pd.to_datetime(df["CreatedDateTime"]) 
df['Day'] = df.CreatedDateTime.dt.day
df['Month'] = df.CreatedDateTime.dt.month
df.head()

         ID                                         Name  ...   Day Month
0  397735.0  Stealth DTO Outbound Service - 902 - Create  ...  30.0   4.0
1  397734.0               Coupa - triWorkTask - Outbound  ...  30.0   4.0
2  397733.0                         SMC Outbound Service  ...  30.0   4.0
3  397732.0                SMC WorkTask Outbound Service  ...  30.0   4.0
4  397731.0               Coupa - triWorkTask - Outbound  ...  30.0   4.0

[5 rows x 9 columns]

In [156]:
group_services = df.groupby('Service Name')

Coupa_df = pd.DataFrame(group_services.get_group('coupa_out_work_task'))
coupa_grp_date = Coupa_df.groupby('Day')
Coupa_Tran_by_date = pd.DataFrame(coupa_grp_date.size(), columns=['num_tran_per_day'])
df_Coupa_Tran_by_date = pd.DataFrame(Coupa_Tran_by_date)
df_Coupa_Tran_by_date['Day'] = df_Coupa_Tran_by_date.index
#print(df_Coupa_Tran_by_date)
Coupa_df.head()


#Stealth
stealth_df = pd.DataFrame(group_services.get_group('stealth_ticket_create'))
stealth_grp_date = stealth_df.groupby('Day')
stealth_Tran_by_date = pd.DataFrame(stealth_grp_date.size(), columns=['num_tran_per_day'])
df_stealth_Tran_by_date = pd.DataFrame(stealth_Tran_by_date)
df_stealth_Tran_by_date['Day'] = df_stealth_Tran_by_date.index
#print(df_Coupa_Tran_by_date)
stealth_df.head()


#smc
smc_df = pd.DataFrame(group_services.get_group('SMC'))
smc_grp_date = smc_df.groupby('Day')
smc_Tran_by_date = pd.DataFrame(smc_grp_date.size(), columns=['num_tran_per_day'])
df_smc_Tran_by_date = pd.DataFrame(smc_Tran_by_date)
df_smc_Tran_by_date['Day'] = df_smc_Tran_by_date.index
#print(df_smc_Tran_by_date)
smc_df.head()

         ID                           Name  ...   Day Month
2  397733.0           SMC Outbound Service  ...  30.0   4.0
3  397732.0  SMC WorkTask Outbound Service  ...  30.0   4.0
6  397729.0           SMC Outbound Service  ...  30.0   4.0
7  397728.0  SMC WorkTask Outbound Service  ...  30.0   4.0
8  397727.0           SMC Outbound Service  ...  30.0   4.0

[5 rows x 9 columns]

In [152]:
df_Coupa_Tran_by_date.info()
df_Coupa_Tran_by_date.head()
#df_Coupa_Tran_by_date.set_index('Day')

df_stealth_Tran_by_date.info()
df_stealth_Tran_by_date.head()
#df_Coupa_Tran_by_date.set_index('Day')

<class 'pandas.core.frame.DataFrame'>
Float64Index: 7 entries, 24.0 to 30.0
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   num_tran_per_day  7 non-null      int64
 1   Day               7 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 168.0 bytes
<class 'pandas.core.frame.DataFrame'>
Float64Index: 6 entries, 24.0 to 30.0
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   num_tran_per_day  6 non-null      int64
 1   Day               6 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 144.0 bytes

      num_tran_per_day   Day
Day
24.0                12  24.0
25.0                12  25.0
27.0                 8  27.0
28.0                11  28.0
29.0                 9  29.0

In [147]:
# Using plotly.express
import plotly.express as px

fig = px.line(df_Coupa_Tran_by_date, x='Day', y='num_tran_per_day')
#fig = px.line(df, x='Service Name', y='Execution Time')
fig.show()

In [148]:
import plotly.graph_objects as go
import numpy as np

x = np.arange(10)

fig = go.Figure(data=go.Scatter(x=df_Coupa_Tran_by_date['Day'], y=df_Coupa_Tran_by_date['num_tran_per_day']))
fig.show()

In [159]:
import plotly.graph_objects as go

# Create random data with numpy
import numpy as np
np.random.seed(1)

N = 100
random_x = np.linspace(0, 1, N)
random_y0 = np.random.randn(N) + 5
random_y1 = np.random.randn(N)
random_y2 = np.random.randn(N) - 5

# Create traces
fig = go.Figure()
fig.add_trace(go.Scatter(x=df_Coupa_Tran_by_date['Day'], y=df_Coupa_Tran_by_date['num_tran_per_day'],
                    mode='lines',
                    name='coupa'))
fig.add_trace(go.Scatter(x=df_stealth_Tran_by_date['Day'], y=df_stealth_Tran_by_date['num_tran_per_day'],
                    mode='lines+markers',
                    name='stealth'))
fig.add_trace(go.Scatter(x=df_smc_Tran_by_date['Day'], y=df_smc_Tran_by_date['num_tran_per_day'],
                    mode='lines+markers',
                    name='smc'))

fig.show()

**Extract Features**

### **Volumes** - How many transactions per day Service wise?

Range

In [96]:
# Create range of dates to use as an index
start = pd.datetime(2020, 4, 24)
end = pd.datetime(2020, 4, 30)
rng = pd.date_range(start, end) # pandas has handy date_range() function. It's very flexible and powerful.
rng

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:

The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning:

The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.

DatetimeIndex(['2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
               '2020-04-28', '2020-04-29', '2020-04-30'],
              dtype='datetime64[ns]', freq='D')

In [0]:
tran_by_date_seeded = pd.DataFrame(index=rng)

In [106]:
# Add weekday column to new dataframe
tran_by_date_seeded['weekday'] = tran_by_date_seeded.index.map(lambda x: x.weekday())
tran_by_date_seeded.head()

            weekday
2020-04-24        4
2020-04-25        5
2020-04-26        6
2020-04-27        0
2020-04-28        1

In [0]:
# Create a Group by object using tripdate
grp_date = df.groupby(['Day'])

# Compute number of trips by date and check out the result
tran_by_date = pd.DataFrame(grp_date.size(), columns=['num_tran_per_day'])

In [122]:
# Merge the two dataframes doing a left join (with seeded table on left)
tran_by_date_merged = pd.merge(tran_by_date_seeded, tran_by_date, how='left', 
      left_index=True, right_index=True, sort=True)

tran_by_date_merged.head()

                     weekday  num_tran_per_day
2020-04-24 00:00:00        4               NaN
2020-04-25 00:00:00        5               NaN
2020-04-26 00:00:00        6               NaN
2020-04-27 00:00:00        0               NaN
2020-04-28 00:00:00        1               NaN

In [0]:
# Fill in any missing values with 0.
tran_by_date_merged['num_tran_per_day'] = tran_by_date_merged['num_tran_per_day'].fillna(0)

In [119]:
tran_by_date_merged['num_tran_per_day'].describe()

count    7.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: num_tran_per_day, dtype: float64

In [123]:
tran_by_date_merged.head()

                     weekday  num_tran_per_day
2020-04-24 00:00:00        4               NaN
2020-04-25 00:00:00        5               NaN
2020-04-26 00:00:00        6               NaN
2020-04-27 00:00:00        0               NaN
2020-04-28 00:00:00        1               NaN